.navbar {
    background-image: url(../../../Design/Assets/SVG/Merged-bar-1.svg);
    background-position: center;
    background-color: #96C5DC;
    @include flexy($just: space-between);
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

  

}


    .menu {
     margin-top: 34px;
     display: flex;
     width: 220px;
     justify-content: space-between;
            &__item {
                &--acceuil {
                    font-weight: bold;
                    font-size: em(15px);
                    
                }
        
                &--conseil {
                    font-weight: bold;
                    font-size: em(15px);
                }
            }

            &__button {
                padding-right: 26px;
                padding-top: 2px;
                padding-left: 6px;
                height: 30px;
                border-radius: 5px;
                border: 1px solid $color-primary-blue;
                font-weight: $font-weight-medium;
                color: white;
                background-image: url(../../../Design/Assets/png/maps-and-location.png);
                background-position: right;
                background-repeat: no-repeat;
                
            }
        
    }

@include mq('large') {
    .menu {
        &__item {
            &--acceuil {
                font-size: em(18px);
            }

            &--conseil {
                font-size: em(18px);
            }
        }

        &__button {
            padding-right: 28px;
            padding-top: 4px;
            padding-left: 8px;
        }
    }
}
