
// Flex Container 
@mixin flexy(
    $disp : flex,
    $dir : null,
    $wrap : null,
    $just : null,
    $align : null) {
        display: flex;
        flex-direction: $dir;
        flex-wrap: $wrap;
        justify-content: $just;
        align-items: $align;
    
}


// Button Style 
@mixin btn-style($w, $h, $color, $bg-color, $pd, $font-sz, $font-wg) {
    width: $w;
    height: $h;
    background-color: $bg-color;
    color: $color;
    border-radius: 3px;
    font-size: $font-sz;
    font-weight: $font-wg;
}



// Media Queries 
@mixin mq($breakpoint)  {
    @if $breakpoint == 'x-small' {
        @media (min-width: $break-s) and (max-width: $break-m) {
            @content;
        }
    }
    @else if $breakpoint == 'medium' {
        @media (min-width: $break-m + 1) and (max-width: $break-l) {
            @content;
        }
    }
    @else if $breakpoint == 'large' {
        @media (min-width: $break-l + 1) and (max-width: $break-xl) {
            @content;
        }
    }  
}

