// Colors
$color-primary-blue: #1078AD;
$color-secondary-soft-green: #369D53;
$color-neutral-yellow: #F4CF1B;




// Text
$base-font-size : 18px;
$base-line : 26px;
$text-font-stack : 'Rubik', Helvetica, Arial, sans-serif;


// Font Weights
$font-weight-light : 500;
$font-weight-medium : 700;

// Breakpoints
$break-s : 576px;
$break-m : 768px;
$break-l : 992px;
$break-xl : 1400px;



