.transmet {
    margin-top: 40px;
    text-align: center;
    &__heading {
        font-size: em(20px);
        color: $color-primary-blue;
        font-weight: $font-weight-bold;
        margin-bottom: 20px;
    }

}

.flex-item {
    margin-bottom: 30px;
    &__img {
        margin-bottom: 20px;
    }

    &__description {
        margin-top: 30px;
        font-size: em(16px);
        font-weight: $font-weight-medium;
        color: #1A519E;
    }
}

@include mq('large') {

    .transmet {
        margin-bottom: 60px;
        &__heading {
            font-size: em(26px);
            margin-bottom: 60px;
        }
    
    }
    
        .flex-item {
            margin-bottom: 80px;
            &__description {
                margin-top: 16px;
                font-size: em(24px);
            }
          
        }
       
    }